@use '../utils' as *;

/*----------------------------------------*/
/*  17. FOOTER CSS START
/*----------------------------------------*/
footer {
    background-color: #000;
    color: #777;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.875rem;
  }
  